    @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&family=Oswald:wght@500&display=swap');

body {
  color: white;
  background-color: #1E2F51;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1124a3;
  overflow: hidden;
  height: 10%;
  border: none;
  border-radius: 8px;
  animation: slideDown 0.5s;
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.left-page{
  flex:1 1 200px;
}

.links {
  display: inline-block;
  text-align: center;
  padding: 14px;
  color: white;
  text-decoration: none;
  font-family: Lexend;
  font-size: 25px;
  transition: color 0.3s;
}

.links:hover {
  color: #b3b9e4;
}

h3 {
  text-align: center;
  margin-top: 150px;
  margin-left: 25px;
  margin-right: 19px;
  font-size: 25px;
}

h3 {
  color: #b3b9e4;
}

.btn {
    animation: pulse 0.8s infinite alternate;
    border-radius: 20px; 
    border: none;
    padding: 10px 20px;
    margin: 10px;
    background-color: #1c37c0;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #b3b9e4;
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    100% { transform: scale(1.05); }
  }
  
  #btn1 {
    position: absolute;
    top: 390px;
    left: 20px;
  }
  
  #btn2 {
    position: absolute;
    top: 390px;
    right: 865px;
  }
  
  #btn3 {
    position: absolute;
    bottom: 16px;
    left: 20px;
  }
  
  #btn4 {
    position: absolute;
    bottom: 16px;
    left: 200px;
  }
